* {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#about_inner {
  overflow: hidden;
  height: 700px;
  padding-top: 80px;
  text-align: center;
  background: #E7E6E6;
  font-family: 'Noto Sans KR', sans-serif;
}

#main_box {
  width: 1050px;
  height: 380px;
  margin: auto;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  border-radius: 10px;
  box-shadow: 10px 10px 10px -5px grey;
  background-color: white;
}

.sub_box {
  display: flex;
  justify-content: space-evenly;
}

.item_box {
  display: flex;
  padding-right: 40px;
}

.text {
  font-size: 20px;
}

.text_box {
  text-align: left;
  align-content: center;
}

.img {
  width: 80px;
  height: 80px;
  padding: 0px 20px 0px 20px;
}
