* {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#about_box {
  background: #E7E6E6; 
}

#about_inner {
  width:1200px;
  height:600px;
  margin:0 auto;
  background: #E7E6E6;
}

#title {
  text-align: center;
  padding: 50px;
}

#huge_box {
  width: 1200px;
  height: 400px;
  display: table-cell;
  vertical-align: middle;
  border-radius: 40px;
  background-color: white;
}

.main_box {
  display: flex;
  justify-content: center;

}

.sub_box {
  display: inline-block;
  width: 310px;
  margin: 40px 0px 40px 50px;
}

.text_box {
  display: inline-block;
  position: relative;
  bottom: 23px;
  left: 25px;
}

#text_school {
  display: inline-block;
  position: relative;
  bottom: 2px;
  left: 25px;
}

.text {
  font-weight: bold;
  font-size: 20px;
}

.img {
  width: 80px;
  height: 80px;
}