* {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#archiving_box {
  background: #A9D18E;
}

#archiving_inner {
  width: 1300px;
  height: 700px;
  margin: auto;
  text-align: center;
  background: #A9D18E;
  font-family: 'Noto Sans KR', sans-serif;
}

.archiving_box {
  display: inline-block;
  width: 400px;
  height: 350px;
  margin: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 20px 20px 20px -10px #78a15c;
  background-color: white;
}

.archiving_img {
  width: 60%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.link {
  font-size: 17px;
  color: rgb(51, 156, 255);
}

.txt_box {
  width: 300px;
  height: 100px;
  padding-top: 40px;
  margin: auto;
  text-align: left;
}

.txt {
  margin-bottom: 10px;
}