* {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#unused_box {
  width:1200px;
  height:80px;
}

#home_box {
  background: #FFF;
}

#home_inner {
  width:1200px;
  height:930px;
  margin:0 auto;
}

#img {
  width: 400px;
  margin-top: 60px;
  margin-left: 200px;
}

#text1 {
  width: 100px;
  position: relative;
  bottom: 360px;
  left: 800px;
  color: rgb(79, 129, 238);
}

#text2 {
  width: 60px;
  position: relative;
  bottom: 384px;
  left: 860px;
  font-size: 18.3px;
}

#btn {
  width: 150px;
  height: 50px;
  line-height: 46px;
  text-align: center;
  margin: auto;
  font-weight: bold;
  color: white;
  border-radius: 30px 30px;
  background-color: rgb(255, 197, 36);
}