* {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#projects_box {
  background: #668CD0;
}

#projects_inner {
  width: 1300px;
  margin: auto;
  padding-bottom: 50px;
  text-align: center;
  background: #668CD0;
}

.projects_title_box {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 30px;
}

.projects_title_box p:nth-child(1) {
  font-family: 'IBM Plex Sans KR', sans-serif;
}

.projects_title_box p:nth-child(2) {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.projects_time_people {
  padding-top: 5px;
  font-size: 14px;
  color: gray;
}

.projects_main_contents_box {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Noto Sans KR', sans-serif;
}

.projects_main_box {
  width: 1000px;
  margin: auto;
  margin-top: 50px;
  box-shadow: 10px 10px 10px -5px rgb(76 99 149);
  border-radius: 10px;
  background-color: white;
}

.projects_comment {
  text-align: left;
  padding-bottom: 20px;
}

.projects_comment_box {
  width : 410px;
  padding: 10px;
  font-size: 15px;
  line-height: 23px;
}

.projects_comment_box_bottom_line {
  width : 410px;
  margin-bottom: 10px;
  border-bottom: 1px gray solid;
}

.projects_img_box {
  width : 530px;
}

.projects_img {
  width: 430px;
  padding: 10px;
}

.projects_info_box {
  float : right;
  width : 500px;
  display: flex;
  text-align: left;
  font-size: 14px;
  line-height: 23px;
}

.projects_info1 {
  width : 105px;
  display : inline-block;
  font-weight: bold;
  text-align: left;
  margin-top: 10px;
}

.projects_info2 {
  width: 290px;
  display: inline-block;
  text-align: left;
  margin-top: 10px;
}

.projects_info1 p {
  padding-bottom: 10px;
}

.projects_info2 p {
  padding-bottom : 10px;
}

.small_txt {
  float: right;
  font-size: 12px;
  font-weight: bold;
  color: darkgray;
}

.highlight_txt {
  display: inline;
  font-weight: bold;
  color: rgb(255, 72, 72);
}

.link {
  font-size: 14px;
  color: rgb(0, 110, 255);
}