* {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#skills_unused_box {
  height: 80px;
  background: #FFD26D;
}

#skills_box {
  background: #FFD26D;
}

#skills_inner {
  width: 1300px;
  height: 1100px;
  text-align: center;
  margin: auto;
  background: #FFD26D;
}

.skills_main_box {
  display: flex;
  width: 80%;
  margin: auto;
}

.skills_sub_box {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.skills_item_box {
  width: 300px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px -5px orange;
  background-color: white;
  font-family: 'IBM Plex Sans KR', sans-serif;
}

.skills_img {
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.skills_text {
  width: 250px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: auto;
  border-bottom: rgb(255, 134, 35) 1px solid;
  font-size: 25px;
  color: rgb(255, 134, 35);
}