* {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#skills_box {
  background: #FFD26D;
}

#skills_inner {
  width : 1300px;
  height: 70rem;
  max-width: 71.25rem;
  margin: auto;
  text-align: center;
}

.skills_box {
  display: inline-table;
  width: 300px;
  margin-bottom: 50px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 20px 20px 20px -10px orange;
  background-color: white;
  font-family: 'IBM Plex Sans KR', sans-serif;
}

.skills_main_box {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  height: calc(100% - (7.5rem + 1px));
}

.skills_img {
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.skills_text {
  width: 250px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: auto;
  border-bottom: rgb(255, 134, 35) 1px solid;
  font-size: 25px;
  color: rgb(255, 134, 35);
}