* {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#skills_box {
  background: #FFD26D;
}

#skills_inner {
  width:1200px;
  height:900px;
  margin:0 auto;
  text-align: center;
  background: #FFD26D;
}

.sub_box3 {
  display: inline-table;
  width: 300px;
  margin: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 20px 20px 20px -10px orange;
  background-color: white;
}

.fe_img {
  width: 30%;
  padding: 20px;
}

.be_img {
  width: 70%;
  padding: 10px;
}

.dev1_img {
  width: 70%;
  padding: 30px;
  margin: auto;
}

.dev2_img {
  width: 45%;
  padding: 15px;
  display: block;
  margin: auto;
}

.certi_img {
  width: 65%;
}

#certi_txt {
  font-weight: medium;
  font-size: large;
  text-align: center;
  padding: 5px;
}

.ver_img {
  width: 50%;
  display: block;
  margin: auto;
  padding: 20px;
}

.text3 {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  color: rgb(255, 134, 35);
  padding: 20px;
}

